body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    color: #333;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 10px;
}
.header {
    text-align: center;
    background: #8B4513;
    color: white;
    padding: 40px 20px;
    border-radius: 10px 10px 0 0;
}
h1 {
    margin: 0;
    font-size: 32px;
    color: white;
}
h2 {
    text-align: center;
    color: #8B4513;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
    transition: color 0.3s ease;
}
h2:hover {
    color: #5a2d0c;
}
.section {
    margin-bottom: 20px;
    border-radius: 5px;
}
.toggle-content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease;
    background-color: transparent;
    color: #333;
    padding: 0 20px;
    border-radius: 5px;
}
.toggle-content.active {
    max-height: 1000px;
    background-color: black; /* Qara rəng */
    color: white;
    padding: 20px;
}
.toggle-content ul {
    list-style: none;
    padding-left: 20px;
}
.toggle-content ul li {
    padding: 5px 0;
}
.contact ul {
    padding: 0;
    list-style: none;
}
